version: '3'
services:
  java-notebook:
    build: ./build
    image: java-notebook:java11
    container_name: java-notebook
    user: root
    ports:
      - 8888:8888
    volumes:
      - ./data/work:/home/jovyan/work
      - ./data/jupyter:/home/jovyan/.jupyter
      - ./data/gradle:/home/jovyan/.gradle
    environment:
      - TZ=Asia/Taipei
      - DOCKER_STACKS_JUPYTER_CMD=notebook
      - IJAVA_STARTUP_SCRIPTS_PATH=/home/jovyan/.jupyter/custom_IJava/custom.jshell
    restart: unless-stopped
networks:
  default:
    name: bridge-network
