version: '3'
services:
  java-notebook:
    build: ./build
    image: java-notebook:java11
    container_name: java-notebook
    ports:
      - 8888:8888
    volumes:
      - ./data/work:/home/jovyan/work
      - ./data/jupyter:/home/jovyan/.jupyter
    environment:
      - TZ=Asia/Taipei
      - DOCKER_STACKS_JUPYTER_CMD=notebook
      - CHOWN_EXTRA=/home/jovyan/.ipython
    restart: unless-stopped
networks:
  default:
    name: bridge-network
